<% include partials/header %>

    <header class="sb-page-header">
        <div class="container">
            <h1>Contact</h1>
            <p>Contact Binwatch if you want to place these bins in your society, have feedback for us, or if you need to report any issues with bins in your area.</p>
        </div>
    </header>

    <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>
                <i class="fa fa-comments-o"></i> Feedback &amp; Suggestions
            </h2>
            <p>
                If you have general feedback, or if you have an idea for improving our service that you would like to see on Bin Watch, please email us at:
            </p>
            <p>
                <strong><a href="mailto:feedback@binwatch.com">feedback@binwatch.com</a></strong>
            </p>
            <br />

            <h2>
                <i class="fa fa-support"></i> Help Requests
            </h2>

            <p>
                If you need help with understanding waste management, please visit <a href="/faq">our waste management page</a>. If you still can't find an answer, please email us to request a demo at:
            </p>

            <p>
                <strong><a href="mailto:help@binwatch.com">help@binwatch.com</a></strong>
            </p>

            <br />

            <h2>
                <i class="fa fa-code"></i> Volunteer
            </h2>

            <p>
                Do you want be a volunteer in your society to teach people how to dump waste properly? If so, please reach out to Reap Benefit at their website
                <a href="/">here</a>, or email us at:
            </p>

            <p>
                <strong>
                    <a href="mailto:connect@binwatch.com">connect@binwatch.com</a>
                </strong>
            </p>
        </div>
    </div>
</div>

<% include partials/footer %> 