<% include partials/header %>

    <header class="sb-page-header">
        <div class="container">
            <h1>Waste Management</h1>
            <p>Throwing waste in the bin is a good thing. However, it is not where the process of managing waste ends, but where it begins. </p>
        </div>
    </header>
<div class="container">

<p>
	Segregation is the first step of waste management. While most people think that it starts once the garbage reaches the huge dustbin vans or the dumping grounds, it really starts right at your house. 
</p>
<p>
	Waste from a house can be broadly divided in to two categories – dry waste and wet waste. Both need to be disposed and recycled differently. Wet waste includes cooked and uncooked food, waste from fruits and flowers, fallen leaves, dust from sweeping and other similar things. On the other hand, paper, plastic, rubber, metals, leather, cloth rags, wire, glass and things etc. fall under the category of dry waste. Remember that wet waste is organic and dry is not. 
</p>
<p>
	Segregation is the first step towards proper disposal of both categories of waste. It is recommended to have two separate dustbins in the house to keep wet waste from mixing up with its dry counterpart. Bits of plastic, for instance, are dry waste components which if not disposed properly can become an environmental hazard.
</p>
<p>
Urban India produces up to 188,500 tonnes of waste per day. Segregation and disposal is a major part of disposing this waste. And you have an important part to play.
</p>
<h2>What is waste seggregration?</h2>
<p>

Segregation is the separation of biodegradable waste from non biodegradable waste for proper disposal and recycling. 
</p>
<p>
Improper segregation may cause mixing in landfills. This in turn, can lead to toxic release in the ground and eventual contamination of ground water. Methane gas is likely to be released in such circumstances, which is one of the most harmful greenhouse gases.
</p>
<p>
Proper segregation leads to proper recycling. Most of the waste can be reused and recycled. However, improper segregation process can cause many things to be left out from the recycling process.
</p>
<p>
What most of us don't realise is that unsegregated waste from households is sorted by rag pickers. They segregate waste with their bare hands. Often glass and other waste objects may cause cuts and bruises and also infection leading to severe illnesses. 
</p>
<p>
<h2>What can you do? </h2>
<p>

The process of segregation is as simple as its definition. It can be easily carried out at home by using two dustbins – one for dry waste and the other for wet waste. Dry waste (non biodegradable) follows a completely different process of recycling from wet waste (biodegradable). Start segregating waste in the kitchen dustbin and move on to the rest of the house. 
</p>
<p>
A little caution on your part can make a lot of difference.
</p>
</div>

<% include partials/footer %> 