<% include partials/header %> 


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1><span><i class="fa fa-trash"></i></span>&nbsp;BinWatch</h1>
                        <h3>A smarter way of garbage collection</h3>
                        <h3><a href="/locate" class="btn btn-dark btn-lg"><i class="fa fa-location-arrow fa-fw"></i> <span>Locate Bins</span></a></h3>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Reap Benefit</h2>
                    <p class="lead">A special thanks to <a target="_blank" href="http://reapbenefit.org/">Reap Benefit</a> for placing these smart bins in our society. Visit their website to become a member.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/reaplogo.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">

                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Route Optimization</h2>
                    <p class="lead">Locates the smart bins and suggests the best possible routes from anywhere.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                	<img class="img-responsive" src="https://www.geotab.com/geoimages/blog/route-optimization.png">
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">
        

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                   
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Analytics</h2>
                    <p class="lead">Track all the metrics of the smart bin and predicts fill patterns.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="http://3.bp.blogspot.com/-NRMda8Sqqwg/UI6TvHmKvEI/AAAAAAAAAq4/09z6NnPPcgQ/s400/Google+Analytics+Universal+Analytics.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

   <% include partials/footer %> 